## __Data Base Pre Processing__

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# import
cons = pd.read_excel('wine-consumption-per-person.xlsx')

prod = pd.read_excel('wine-production.xlsx')

un = pd.read_csv('UNSD.Methodology.csv', delimiter=';')
sub_un=un[['Region Name','Sub-region Name','ISO-alpha3 Code']]

lat_long = pd.read_csv('countries_codes_and_coordinates.csv')
sub_lat=lat_long[['Alpha-3 code','Latitude (average)', 'Longitude (average)']]
sub_lat['Latitude (average)']=sub_lat['Latitude (average)'].apply(lambda x: x[:-1][2:]).astype(float)
sub_lat['Longitude (average)']=sub_lat['Longitude (average)'].apply(lambda x: x[:-1][2:]).astype(float)
sub_lat['Alpha-3 code']=sub_lat['Alpha-3 code'].apply(lambda x: x[:-1][2:])

wdi=pd.read_csv('WDIData.csv').drop(['Country Name','Indicator Code'],axis=1)

hdi = pd.read_csv('human-development-index-escosura.csv')

hdi_2 = pd.read_csv('human-development-index.csv')

display(cons.head(3))
print('\n')
display(prod.head(3))
print('\n')
display(sub_un.head(3))
print('\n')
display(sub_lat.head(3))
print('\n')
display(wdi.head(3))
print('\n')
display(hdi.head(3))
print('\n')
display(hdi_2.head(3))

,Entity,Code,Year,"Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Wine"
0,Afghanistan,AFG,1961,0.0
1,Afghanistan,AFG,1962,0.0
2,Afghanistan,AFG,1963,0.0

,Country,Code,Year,Production (tonnes),"Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Wine"
0,Albania,ALB,2019,15925,1.15
1,Albania,ALB,2018,15290,1.12
2,Albania,ALB,2017,16868,1.11

  Region Name  Sub-region Name ISO-alpha3 Code
0      Africa  Northern Africa             DZA
1      Africa  Northern Africa             EGY
2      Africa  Northern Africa             LBY

  Alpha-3 code  Latitude (average)  Longitude (average)
0          AFG                33.0                 65.0
1          ALB                41.0                 20.0
2          DZA                28.0                  3.0

,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN

,Entity,Code,Year,Historical Index of Human Development (Prados de la Escosura)
0,Afghanistan,AFG,1950,0.04
1,Afghanistan,AFG,1955,0.05
2,Afghanistan,AFG,1960,0.06

        Entity Code  Year  Human Development Index
0  Afghanistan  AFG  1990                    0.273
1  Afghanistan  AFG  1991                    0.279
2  Afghanistan  AFG  1992                    0.287

In [13]:
def wdi_indicator_getter(indicator):   
    data = wdi.loc[wdi['Indicator Name'].isin([indicator])].reset_index().drop('index',axis=1)

    ind = pd.DataFrame({'ISO_Code':[0], 'Year':[0], 'Values':[0]})

    for i in range(1960,2020):
        new_ind = pd.DataFrame()
        new_ind['ISO_Code'] = 0
        new_ind['Year'] = 0
        new_ind['Values'] = 0
        for j in range(len(data)):
            new_ind.loc[j, 'ISO_Code'] = data['Country Code'].iloc[j]
            new_ind.loc[j, 'Year'] = i
            new_ind.loc[j, 'Values'] = data.loc[data['Country Code'].isin([data['Country Code'].iloc[j]])][str(i)].iloc[0]
        ind = ind.append(new_ind)

    ind.drop(0, axis=0, inplace=True)
    return ind

In [14]:
wdi

,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,AFE,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,AFE,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,AFE,"Access to electricity, rural (% of rural popul...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383567,ZWE,Women who believe a husband is justified in be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383568,ZWE,Women who were first married by age 15 (% of w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
383569,ZWE,Women who were first married by age 18 (% of w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
383570,ZWE,Women's share of population ages 15+ living wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.100000,59.400000,59.500000,59.700000,59.900000,60.100000,60.300000,60.500000,60.7,NaN
383571,ZWE,Young people (ages 15-24) newly infected with HIV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,19000.000000,17000.000000,15000.000000,13000.000000,10000.000000,8600.000000,7700.000000,6800.0,NaN

In [15]:
gdp_df = wdi.loc[

    # checking for words GDP and US independently of their order on the target string 
    (wdi['Indicator Name'].str.contains(r'(?=.*drink)', case=False))
    #&
    # excluding words that would return irrelevant indicators
    #(~ wdi['Indicator Name'].str.contains('||||', case=False))
]

# saving index in variable (Indicator Code)
#gdp = gdp_df.index[0]

gdp_df['Indicator Name'].unique()

array(['People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural population)',
       'People using at least basic drinking water services, urban (% of urban population)',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural population)',
       'People using safely managed drinking water services, urban (% of urban population)'],
      dtype=object)

In [16]:
wdi.loc[wdi['Indicator Name'].isin([''])].reset_index().drop('index',axis=1)

Empty DataFrame
Columns: [Country Code, Indicator Name, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, Unnamed: 66]
Index: []

[0 rows x 65 columns]

In [17]:
wdi_indicator_getter('')

Empty DataFrame
Columns: [ISO_Code, Year, Values]
Index: []


'Andorra',Greece,Poland
Antigua and Barbuda,Greenland,Portugal
Aruba,Guam,Puerto Rico
Australia,Hong Kong SAR, China,Qatar
Austria,Hungary,Romania
Bahamas, The,Iceland,San Marino
Bahrain,Ireland,Saudi Arabia
Barbados,Isle of Man,Seychelles
Belgium,Israel,Singapore
Bermuda,Italy,Sint Maarten (Dutch part)
British Virgin Islands,Japan,Slovak Republic
Brunei Darussalam,Korea, Rep.,Slovenia
Canada,Kuwait,Spain
Cayman Islands,Latvia,St. Kitts and Nevis
Channel Islands,Liechtenstein,St. Martin (French part)
Chile,Lithuania,Sweden
Croatia,Luxembourg,Switzerland
Curaçao,Macao SAR, China,Taiwan, China
Cyprus,Malta,Trinidad and Tobago
Czech Republic,Monaco,Turks and Caicos Islands
Denmark,Nauru,United Arab Emirates
Estonia,Netherlands,United Kingdom
Faroe Islands,New Caledonia  ,United States
Finland,New Zealand  ,Uruguay
France,Northern Mariana Islands,Virgin Islands (U.S.)
French Polynesia,Norway,
Germany,Oman,
Gibraltar,Panama

In [18]:
# data engineering
sub = prod[['Code', 'Year', 'Production (tonnes)']]
df = cons.merge(sub, on=['Code', 'Year'], how='left').fillna(0.)
df=df.merge(sub_un, left_on='Code', right_on='ISO-alpha3 Code', how='left').drop('ISO-alpha3 Code', axis=1).rename({'Region Name':'Region', 'Sub-region Name':'Sub_region', 'Code':'ISO_Code', 'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Wine':'Wine_Consumption_per_capita', 'Entity':'Country', 'Production (tonnes)':'Production (liters)'}, axis=1)
df=df.merge(sub_lat, left_on='ISO_Code', right_on='Alpha-3 code', how='left').drop('Alpha-3 code', axis=1)
df['Production (liters)'] = df['Production (liters)'] *1000
pop = wdi_indicator_getter('Population, total')
df=df.merge(pop, on=['ISO_Code', 'Year'], how='left').rename({'Values':'Population'}, axis=1)
df['Total_Wine_Consumption'] = df['Wine_Consumption_per_capita'] * df['Population']

df.head()

,Country,ISO_Code,Year,Wine_Consumption_per_capita,Production (liters),Region,Sub_region,Latitude (average),Longitude (average),Population,Total_Wine_Consumption
0,Afghanistan,AFG,1961,0.0,0.0,Asia,Southern Asia,33.0,65.0,9169406.0,0.0
1,Afghanistan,AFG,1962,0.0,0.0,Asia,Southern Asia,33.0,65.0,9351442.0,0.0
2,Afghanistan,AFG,1963,0.0,0.0,Asia,Southern Asia,33.0,65.0,9543200.0,0.0
3,Afghanistan,AFG,1964,0.0,0.0,Asia,Southern Asia,33.0,65.0,9744772.0,0.0
4,Afghanistan,AFG,1965,0.0,0.0,Asia,Southern Asia,33.0,65.0,9956318.0,0.0

In [19]:
import pandas as pd
import os

path = (r'https://raw.githubusercontent.com/joaomalho/Data-Visualization-Project/main/wine_country.csv')

data = pd.read_csv(path)


filtered_by_year_df = data[(data['Country'] == 'Afghanistan')]# & (data['Year'] <= 2019) & (data['Country'] == 'Portugal')]
a = filtered_by_year_df['ISO_Code'].unique()
a

array(['AFG'], dtype=object)

In [20]:
data.head()

,Unnamed: 0,Country,ISO_Code,Year,Wine_Consumption_per_capita,Production (liters),Region,Sub_region,Latitude (average),Longitude (average),Population,Total_Wine_Consumption
0,0,Afghanistan,AFG,1961,0.0,0.0,Asia,Southern Asia,33.0,65.0,9169406.0,0.0
1,1,Afghanistan,AFG,1962,0.0,0.0,Asia,Southern Asia,33.0,65.0,9351442.0,0.0
2,2,Afghanistan,AFG,1963,0.0,0.0,Asia,Southern Asia,33.0,65.0,9543200.0,0.0
3,3,Afghanistan,AFG,1964,0.0,0.0,Asia,Southern Asia,33.0,65.0,9744772.0,0.0
4,4,Afghanistan,AFG,1965,0.0,0.0,Asia,Southern Asia,33.0,65.0,9956318.0,0.0

In [21]:
# Sub_region
data_sub_region = data['Sub_region'].unique()
# Metric
data_metrics = data.iloc[:, [1, 2, 4, 5, 10, 11]].columns
data_sub_region, data_metrics

data_ISO_Codes = data['ISO_Code'].unique()
data_ISO_Codes

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS',
       'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ',
       'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA',
       'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CAF', 'TCD', 'CHL', 'CHN',
       'COL', 'COM', 'COG', 'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP',
       'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV',
       'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FJI', 'FIN', 'FRA', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ',
       'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR',
       'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LTU',
       'LUX', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MRT', 'MUS',
       'MEX', 'FSM', 'MDA', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM',
       'NRU', 'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA', 'NIU', 'PRK',
       'MKD', 'NOR', 'OMN', 'PAK', 'PAN', 'PNG', 'PRY', 'PER', 'PHL',
       'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA', 'KNA', 'LCA', 'VCT',
       'WSM', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK',
       'SVN', 'SLB', 'SOM', 'ZAF', 'KOR', 'ESP', 'LKA', 'SDN', 'SUR',
       'SWE', 'CHE', 'SYR', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON',
       'TTO', 'TUN', 'TUR', 'TKM', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE'],
      dtype=object)

In [2]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
 ids=[
    "North America", "Europe", "Australia", "North America - Football", "Soccer",
    "North America - Rugby", "Europe - Football", "Rugby",
    "Europe - American Football","Australia - Football", "Association",
    "Australian Rules", "Autstralia - American Football", "Australia - Rugby",
    "Rugby League", "Rugby Union"
  ],
  labels= [
    "North<br>America", "Europe", "Australia", "Football", "Soccer", "Rugby",
    "Football", "Rugby", "American<br>Football", "Football", "Association",
    "Australian<br>Rules", "American<br>Football", "Rugby", "Rugby<br>League",
    "Rugby<br>Union"
  ],
  parents=[
    "", "", "", "North America", "North America", "North America", "Europe",
    "Europe", "Europe","Australia", "Australia - Football", "Australia - Football",
    "Australia - Football", "Australia - Football", "Australia - Rugby",
    "Australia - Rugby"
  ],
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

## __VIVINO__

In [5]:

# === Vivino === #
path1 = "https://raw.githubusercontent.com/joaomalho/Data-Visualization-Project/main/Vivino_scrap.xlsx"
data_vivino = pd.read_excel(path1)

In [10]:
data_vivino

,Wine_Name,Producer,Country,City,Ratings,N_Classifications,Prices,Images
1,Krohn,Colheita Port 1957,Portugal,Porto,4.9,40,241.87,https://images.vivino.com/thumbs/5Jex0HJzQi6aK...
2,Legado,Douro Tinto 2014,Portugal,Douro,4.8,207,258.00,https://images.vivino.com/thumbs/8dH1yISyQ1Wgr...
3,Legado,Douro Tinto 2015,Portugal,Douro,4.8,147,315.00,https://images.vivino.com/thumbs/8dH1yISyQ1Wgr...
4,Quinta Vale D. Maria,Vinha do Rio Douro Tinto 2016,Portugal,Douro,4.8,126,158.15,https://images.vivino.com/thumbs/0daKQekVT_eO9...
5,Krohn,Colheita Port 1966,Portugal,Porto,4.8,90,158.54,https://images.vivino.com/thumbs/5Jex0HJzQi6aK...
...,...,...,...,...,...,...,...,...
4502,Château de Cruzeau,Pessac-Léognan 1998,França,Pessac-Léognan,4.3,31,30.25,https://images.vivino.com/thumbs/zT_s16mLTt-H9...
4503,Château Balestard La Tonnelle,Saint-Émilion Grand Cru (Grand Cru Classé) 1986,França,Saint-Émilion Grand Cru,4.3,31,42.35,https://images.vivino.com/thumbs/H0MuIlneR5-nG...
4504,Château Troplong Mondot,Saint-Émilion Grand Cru (Premier Grand Cru Cla...,França,Saint-Émilion Grand Cru,4.3,31,121.00,https://images.vivino.com/thumbs/batLho9_TxWuW...
4505,Piero Busso,San Stunet S. Stefanetto Barbaresco 2019,Itália,Barbaresco,4.3,31,63.00,https://images.vivino.com/thumbs/mmI9SCigSH6EK...
4506,Weinbau Uwe Schiefer,Königsberg Blaufränkisch k Alte Weingarten 2013,Áustria,Südburgenland,4.3,31,59.90,https://images.vivino.com/thumbs/VWCoD250RV6Ys...

In [11]:
# Total Reveiw per country per Year
data_vivino_total_reviews_country_year = data_vivino.groupby(['Country'])['N_Classifications'].sum().reset_index()
data_vivino_total_reviews_country_year

# Mean Reviews per country per Year
data_vivino_avg_rating_country_year = data_vivino.groupby(['Country'])['Ratings'].mean().reset_index()
data_vivino_avg_rating_country_year

data_vivino_total_reviews_country_year, data_vivino_avg_rating_country_year

(               Country  N_Classifications
 0             Alemanha               1379
 1            Argentina               9366
 2            Austrália               2083
 3                Chile              11536
 4              Croácia               2272
 5            Eslovénia                167
 6            Eslovênia                352
 7              Espanha              34559
 8       Estados Unidos               9011
 9               França             589588
 10              Grécia                515
 11              Itália              59711
 12              Líbano               9433
 13  Macedónia do Norte                618
 14  Macedônia do Norte                556
 15         New Zealand                895
 16            Portugal             237537
 17         Reino Unido                433
 18               Suíça                335
 19             Uruguay                674
 20       África do Sul               7186
 21             Áustria               4013,
                Country   Ratings
 0             Alemanha  4.385000
 1            Argentina  4.445455
 2            Austrália  4.445455
 3                Chile  4.463636
 4              Croácia  4.389474
 5            Eslovénia  4.450000
 6            Eslovênia  4.320000
 7              Espanha  4.339759
 8       Estados Unidos  4.480000
 9               França  4.342533
 10              Grécia  4.380000
 11              Itália  4.338485
 12              Líbano  4.300000
 13  Macedónia do Norte  4.480000
 14  Macedônia do Norte  4.375000
 15         New Zealand  4.366667
 16            Portugal  4.359855
 17         Reino Unido  4.350000
 18               Suíça  4.400000
 19             Uruguay  4.400000
 20       África do Sul  4.385000
 21             Áustria  4.305455)

In [22]:
data=pd.merge(data, data_vivino_total_reviews_country_year, left_on=['Country'], right_on=['Country'], how='left')
data
#data=pd.merge(data, data_vivino_avg_rating_country_year, left_on=['Country'], right_on=['Country'], how='left').drop('Country_Code', axis=1)

,Unnamed: 0,Country,ISO_Code,Year,Wine_Consumption_per_capita,Production (liters),Region,Sub_region,Latitude (average),Longitude (average),Population,Total_Wine_Consumption,N_Classifications
0,0,Afghanistan,AFG,1961,0.00,0.0,Asia,Southern Asia,33.0,65.0,9169406.0,0.00,NaN
1,1,Afghanistan,AFG,1962,0.00,0.0,Asia,Southern Asia,33.0,65.0,9351442.0,0.00,NaN
2,2,Afghanistan,AFG,1963,0.00,0.0,Asia,Southern Asia,33.0,65.0,9543200.0,0.00,NaN
3,3,Afghanistan,AFG,1964,0.00,0.0,Asia,Southern Asia,33.0,65.0,9744772.0,0.00,NaN
4,4,Afghanistan,AFG,1965,0.00,0.0,Asia,Southern Asia,33.0,65.0,9956318.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10659,10659,Zimbabwe,ZWE,2015,0.06,2316000.0,Africa,Sub-Saharan Africa,-20.0,30.0,13814642.0,828878.52,NaN
10660,10660,Zimbabwe,ZWE,2016,0.05,2089000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14030338.0,701516.90,NaN
10661,10661,Zimbabwe,ZWE,2017,0.05,2245000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14236599.0,711829.95,NaN
10662,10662,Zimbabwe,ZWE,2018,0.04,2004000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14438812.0,577552.48,NaN
10663,10663,Zimbabwe,ZWE,2019,0.05,1361000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14645473.0,732273.65,NaN

In [123]:
data=pd.merge(data, data_vivino_total_reviews_country_year, left_on=['ISO_Code', 'Year'], right_on=['Country_Code', 'Year'], how='left').drop('Country_Code', axis=1)
data=pd.merge(data, data_vivino_avg_rating_country_year, left_on=['ISO_Code', 'Year'], right_on=['Country_Code', 'Year'], how='left').drop('Country_Code', axis=1)

data

,Unnamed: 0,Country,ISO_Code,Year,Wine_Consumption_per_capita,Production (liters),Region,Sub_region,Latitude (average),Longitude (average),Population,Total_Wine_Consumption,Reviews,Rating
0,0,Afghanistan,AFG,1961,0.00,0.0,Asia,Southern Asia,33.0,65.0,9169406.0,0.00,NaN,NaN
1,1,Afghanistan,AFG,1962,0.00,0.0,Asia,Southern Asia,33.0,65.0,9351442.0,0.00,NaN,NaN
2,2,Afghanistan,AFG,1963,0.00,0.0,Asia,Southern Asia,33.0,65.0,9543200.0,0.00,NaN,NaN
3,3,Afghanistan,AFG,1964,0.00,0.0,Asia,Southern Asia,33.0,65.0,9744772.0,0.00,NaN,NaN
4,4,Afghanistan,AFG,1965,0.00,0.0,Asia,Southern Asia,33.0,65.0,9956318.0,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10659,10659,Zimbabwe,ZWE,2015,0.06,2316000.0,Africa,Sub-Saharan Africa,-20.0,30.0,13814642.0,828878.52,NaN,NaN
10660,10660,Zimbabwe,ZWE,2016,0.05,2089000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14030338.0,701516.90,NaN,NaN
10661,10661,Zimbabwe,ZWE,2017,0.05,2245000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14236599.0,711829.95,NaN,NaN
10662,10662,Zimbabwe,ZWE,2018,0.04,2004000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14438812.0,577552.48,NaN,NaN
10663,10663,Zimbabwe,ZWE,2019,0.05,1361000.0,Africa,Sub-Saharan Africa,-20.0,30.0,14645473.0,732273.65,NaN,NaN

In [10]:

# saving the dataframe
df.to_csv('wine_country.csv')

In [30]:
# !pip install datapackage
from datapackage import Package

package = Package('https://datahub.io/core/geo-countries/datapackage.json')

# print list of all resources:
print(package.resource_names)

# print processed tabular data (if exists any)
for resource in package.resources:
    if resource.descriptor['datahub']['type'] == 'derived/csv':
        print(resource.read())

['validation_report', 'geo-countries_zip', 'countries']

import json

path_country_json = (r'C:\Users\joaom\0. Nova IMS\2ºSemestre\Data Visualization\Project\WINE\Project\Data\Data_files\countries.geojson')
# Open the GeoJSON file and load its contents

country_locations = json.load(open(path_country_json, 'r'))
type(country_locations)
country_locations.keys()
country_locations['features']
type(country_locations['features'])
country_locations['features'][0]
type(country_locations['features'][0])
country_locations['features'][0].keys()
country_locations['features'][0]['properties']['ISO_A3']

country_locations['features']